{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>D Tour</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now " U " %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>

<body>
    {% block body %} {% endblock %}
</body>

</html>