{% extends 'shared/layout.html' %} {% block conteudo %}
<link href="https://fonts.googleapis.com/css?family=Livvic&display=swap" rel="stylesheet">
<section class="container-fluido bg-cinza">
    <div class="column">
        <h1>Contato</h1>
        <div class="contato">
        <p>Sentiu falta de algo? Entre em contato com nosso time!</p> 
    </div>
        <section class="container-fluido bg-cinza">
            <div class="row mt-1 p-1 m-auto w-75">
                <form class="w-50 m-auto" action="" method="POST">
                    <label class="label-dark" for="nome">Nome
                        <input type="text" placeholder="Digite o seu nome">
                    </label>
                    <label class="label-dark" for="email">E-mail
                        <input type="email" placeholder="Digite o seu e-mail">
                    </label>
                    <label class="label-dark" for="telefone">Telefone
                        <input type="tel" placeholder="Ex: 1192266-7745">
                    </label>
                    <label class="label-dark" for="mensagem">Mensagem
                       <textarea name="mensagem" id="" cols="30" rows="3" placeholder="Digite a sua mensagem"></textarea>
                    </label>
                    <div class="row mt-1 mb-1 float-right">
                    <a href="#" class="btn btn-cadastrar mt-1 mb-1">Enviar</a>
                    </div>
                </form>
            </div>
        </section>
    </div>
</section>

<style>
    body{
        background-color: rgb(204, 204, 204);

    }
    .contato{
        display: flex;
        justify-content: center;
        font-family: 'Livvic', sans-serif;
        font-size: 18pt;
        margin-bottom: 80px;
    }

</style>
{% endblock %}