{% extends 'shared/layout.html' %} 
{% block conteudo %}
<section class="padding-l">
    <div class="row">
        <div class="col-6">
            <div class="padding-m">Cadastre seus voos</div>
            <div class="row">
                <div class="col">
                    <div class="row align-content-center">
                        <div class="col-1">Ida</div>
                        <div class="col-3"><input type="date" name="ida_1" id="ida_1" /></div>
                        <div class="col-3"><input type="date" name="ida_2" id="ida_2" /></div>
                        <div class="col-3"><input type="date" name="ida_3" id="ida_3" /></div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col">
                        <div class="row align-content-center">
                            <div class="col-1">Volta</div>
                            <div class="col-3"><input type="date" name="volta_1" id="volta_1" /></div>
                            <div class="col-3"><input type="date" name="volta_2" id="volta_2" /></div>
                            <div class="col-3"><input type="date" name="volta_3" id="volta_3" /></div>
                        </div>
                    </div>
                </div>
            <div class="padding-m">Cadastre sua hospedagem</div>
            <div class="row">
                <div class="col">
                    <div class="row align-content-center">
                        <div class="col-1">Ida</div>
                        <div class="col-3"><input type="date" name="ida_1" id="ida_1" /></div>
                        <div class="col-3"><input type="date" name="ida_2" id="ida_2" /></div>
                        <div class="col-3"><input type="date" name="ida_3" id="ida_3" /></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row align-content-center">
                        <div class="col-1">Volta</div>
                        <div class="col-3"><input type="date" name="volta_1" id="volta_1" /></div>
                        <div class="col-3"><input type="date" name="volta_2" id="volta_2" /></div>
                        <div class="col-3"><input type="date" name="volta_3" id="volta_3" /></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="padding-m">XXXX, Aqui você pode cadastrar seus documentos:</div>
            <div class="row">
                <div class="col">
                    <div class="row align-content-center">
                        <div class="col-3">Passaporte: </div>
                        <div class="col-9">
                            <input type="text" name="passaporte" id="passaporte" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row align-content-center">
                        <div class="col-3">RG: </div>
                        <div class="col-9">
                            <input type="text" name="rg" id="rg" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="row align-content-center">
                        <div class="col-3"> Apólice do seguro:  </div>
                        <div class="col-9">
                            <input type="text" name="apolice_seguro" id="apolice_seguro" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col">
                        <div class="row align-content-center">
                            <div class="col-3"> Número de CNH: </div>
                            <div class="col-9">
                                <input type="text" name="cnh" id="cnh" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col">
                            <div class="row align-content-center">
                                <div class="col-3"> Contatos de emergência: </div>
                                <div class="col-9">
                                    <input type="text" name="contato_emerg" id="contato_emerg" />
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</section>
<section class="padding-l justify-content-center">
    <div class="row">
        <div class="col-12 text-center">
            <p class="padding-l">Não se preocupe com a rota, aqui você pode se programar com antecedência para todos os lugares que quiser visitar:</p>
            <div id="googleMap" class="google-map"></div>
        </div>
    </div>
</section>

<section class="padding-l">
    <div class="row">
        <div class="col-6">
            <div class="padding-m">Aqui nós vamos te ajudar a não esquecer nada para sua viagem:</div>
            <div class="row">
                <div class="col">
                    <div class="column">
                            <input type="checkbox" name="opções" id=""> Camisetas Básicas <br> <br>
                            <input type="checkbox" name="opções" id=""> Calças Básicas <br> <br>
                            <input type="checkbox" name="opções" id=""> Tênis Confortável <br>
                            <input type="checkbox" name="opções" id=""> Roupas de  (shorts, bermudas, vestidos, saias, regatas) <br>
                            <input type="checkbox" name="opções" id=""> Jaqueta Quente e Resistente <br>
                            <input type="checkbox" name="opções" id=""> Sapato <br>
                            <input type="checkbox" name="opções" id=""> Chinelo <br>
                            <input type="checkbox" name="opções" id=""> Escova de cabelo, escova de dentes <br>
                            <input type="checkbox" name="opções" id=""> Shampoo, condicionador, sabonete <br>
                            <input type="checkbox" name="opções" id=""> Acessórios para passeios <br>
                        <input type="checkbox" name="opções" id=""> Câmera fotográfica, carregador de celular, adaptador de tomadas <br>
                    </div>
                </div>
            </div> 
        </div>
        <div class="col-6">
            <div class="padding-m">Não deixe para pensar nos lugares que deseja visitar de ultima hora!</div>
            <div class="column">
                <h5>Local de maior interesse: </h5>
                <input type="text" name="visita" id="visita">
                <h5>Segundo maior interesse: </h5>
                <input type="text" name="visita" id="visita">
                <h5>Terceiro maior interesse: </h5>
                <input type="text" name="visita" id="visita">
                <h5>Quarto maior interesse: </h5>
                <input type="text" name="visita" id="visita">
                <h5>Quinto maior interesse: </h5>
                <input type="text" name="visita" id="visita">
            </div>
           
        </div>
    </div>
</section>
<section class="padding-l">
    <div class="row justify-content-center text-center">
        <div class="col-2">
            <button type="button" class="botao-salvar">Salvar</div>
               
        </div>
    </div>
</section>


<script>
    function myMap() {
        var mapProp = {
            center: new google.maps.LatLng(-23.562700, -46.654610),
            zoom: 15,
        };
        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBaBKMMfPD75rATU89MwJrpC9sjT_phdvI&callback=myMap"></script>

<style>
        body{
            background-color: rgb(204, 204, 204);
          }
        input[type=text] {
            width: 500px;
            height: 10px;
            border-radius: 4px;
            background-color: rgb(247, 248, 232);
            color: black;
          }
          
          .botao-salvar{
              width: 25px;
              height: 20px;
              border-radius: 4px;
          }
         
        </style>

{% endblock %}