{% extends 'shared/layout.html' %} {% block conteudo %}
<section class="container-fluido ">
    <div class="row flex-wrap">
        <div class="img-fundo-conhecer">
            <h3 class="title-conhecer">Comece a tirar seu sonho do papel!</h3>
        </div>

        <div class="informacoes">
            <h3 class="title-informacoes">
                Por que fazer <br> Intercâmbio?
            </h3>
            <div class="bloco-informacoes"></div>
            <p class="text-informacoes w-75 p-1">
                Se você deseja conhecer novas culturas na prática, aprimorar o conhecimento de uma lingua estrangeira e
                de quebra fazer novas amizades e descobrir lugares incríveis, intercâmbio é a aventura certa pra você!
            </p>
            <div class="mt-1 pl-1">
                <a href="#" class="btn btn-cadastrar">Confira</a>
            </div>
        </div>
    </div>


</section>



<section class="conatiner-fluido mt-1 mb-1">
    <div class="row w-100 flex-colunas mb-1">
        <h2 class="title-servicos mt-1">Nossos Serviços</h2>

    </div>

    <div class="wrapper">
        <ul class="carousel" data-target="carousel">
            <li class="card" data-target="card">
                <figure>
                    <img src="/static/img/carrossel.jpg" class="img-carrosel" alt="">
                    <figcaption>Australia</figcaption>
                </figure>
            </li>
            <li class="card" data-target="card">
                <figure>
                    <img src="/static/img/europa.jpg" class="img-carrosel" alt="">
                    <figcaption>Europa</figcaption>
                </figure>
            </li>
            <li class="card" data-target="card">
                <figure>
                    <img src="/static/img/carrossel.jpg" class="img-carrosel" alt="Norte e sul da Asia">
                    <figcaption>Norte e sul da Asia</figcaption>
                </figure>
            </li>
            <li class="card" data-target="card">
                <figure>
                    <img src="/static/img/lomdres.jpg" class=" img-carrosel " alt="londres">
                    <figcaption>Londres</figcaption>
                </figure>
            </li>
            <li class="card" data-target="card">
                <figure>
                    <img src="/static/img/new-york.jpg" class="img-carrosel" alt="New York">
                    <figcaption>Nova Iork</figcaption>
                </figure>
            </li>
            <li class="card" data-target="card">
                <figure>
                    <img src="/static/img/italia.jpg" class="img-carrosel" alt="Itália">
                    <figcaption>Itália</figcaption>
                </figure>
            </li>



        </ul>
        <div class="button-wrapper">
            <button data-action="slideLeft"><i class="fas fa-arrow-left"></i></button>
            <button data-action="slideRight"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>


</section>

<section class="container-fluido bg-contato">
    
        <h2 class="title-contato mt-1  p-1">Entre em Contato</h2>
        <div class="row mt-1 p-1 m-auto w-75">
            <form class="w-50 m-auto" action="" method="POST">
                <label class="label-dark" for="nome">Nome
                    <input type="text" placeholder="Digite o seu nome">
                </label>
                <label class="label-dark" for="email">E-mail
                    <input type="email" placeholder="Digite o seu e-mail">
                </label>
                <label class="label-dark" for="telefone">Telefone
                    <input type="tel" placeholder="Ex: 1192266-7745">
                </label>
                <label class="label-dark" for="mensagem">Mensagem
                    <textarea name="mensagem" id="" cols="30" rows="3" placeholder="Digite a sua mensagem"></textarea>
                </label>
                <div class="row mt-1 mb-1 float-right">
                    <a href="#" class="btn btn-cadastrar mt-1 mb-1">Enviar</a>
                </div>
            </form>
        </div>
   
</section>
<footer class="container-fluido mt-1 mb-1">
    <p class="p-direitos">   Dtour 2019  - Copyright  </p>
</footer>

<script>

    const carousel = document.querySelector("[data-target='carousel']");
    const card = carousel.querySelector("[data-target='card']");
    const leftButton = document.querySelector("[data-action='slideLeft']");
    const rightButton = document.querySelector("[data-action='slideRight']");


    const carouselWidth = carousel.offsetWidth;
    const cardStyle = card.currentStyle || window.getComputedStyle(card)
    const cardMarginRight = Number(cardStyle.marginRight.match(/\d+/g)[0]);

    const cardCount = carousel.querySelectorAll("[data-target='card']").length;


    let offset = 0;
    const maxX = -((cardCount / 3) * carouselWidth +
        (cardMarginRight * (cardCount / 3)) -
        carouselWidth - cardMarginRight);



    leftButton.addEventListener("click", function () {
        if (offset !== 0) {
            offset += carouselWidth + cardMarginRight;
            carousel.style.transform = `translateX(${offset}px)`;
        }
    })

    rightButton.addEventListener("click", function () {
        if (offset !== maxX) {
            offset -= carouselWidth + cardMarginRight;
            carousel.style.transform = `translateX(${offset}px)`;
        }
    })
</script>


<script>
    let navList = document.getElementById("nav-lists");

    function Show() {
        navList.classList.add("_Menus-show");
    }

    function Hide() {
        navList.classList.remove("_Menus-show");
    }
</script>
{% endblock %}