{% extends 'shared/layout.html' %} {% block conteudo %}


        <div class="iconsIndiv">
            <img src="" alt="">
        </div>
        <h1>Informações</h1>
        <p>
            Antes de começar a planejar sua aventura, não deixe de ler estas informações. <br> Elas farão uma grande diferença no seu planejamento. 
        </p> <br> <br>
        <h2>Cias aéreas</h2>
        <p>
            Quando estamos procurando nossos vôos, é uma grande empolgação, é onde você irá dar o ponto de partida no planejamento de sua viagem, mas também é onde mais exige -se atenção. Por isso preparamos várias dicas pra este momento ser ainda melhor. <br>
             A primeira é que não escolha seus vôos pensando somente em preço, a escalas e conexões fazem muita diferença. Vôos com conexões muito longas são cansativos e a troca de aeroportos e terminais pode te confundir. Se possível, opte por vôos diretos ou com conexões com menos tempo. <br>
             Veja bem as datas de ida e retorno, cias aéreas não são flexíveis e cobram multa por qualquer tipo de alteração feita. Antes de fechar o vôo, é imprescindível que leia todas as regras do bilhete,
             ali contém todas as informações dos seus direitos e deveres, valores das multas aplicadas em caso de cancelamento e alterações. <br> 
             Também é importante verificar o tipo de tarifa adquirida, pois as tarifas mais básicas são extremamente restritivas, muitas vezes impossibilitando alterar ou cancelar um bilhete. <br> 
             Atente -se no peso máximo de bagagens permitidas, a maioria das cias aéreas adotam duas bagagens de até 23kg, mas algumas tarifas virão sem as bagagens, sendo necessário incluí-las à parte, sob custo adicional. <br>
             Serviços para vôos internacionais são cobrados à parte, como marcação antecipada dos assentos e bagagem extra. Não deixe de reservar uma graninha pra eles
            </p>
        
    </div>
    <div class="icons">
        <div class="iconsIndiv">
            <img src="" alt="">
        </div>
        <h2>Hotéis, Host Family, Couchsurfing</h2>
        <p>     
                Os hotéis partem do mesmo princípio que as cias aéreas, porém com mais flexibilidade. <br> 
                Muitos permitem o cancelamento sem custo com algumas semanas de antecedência, ou o reembolso parcial. <br>
                Você deve verificar o tipo de hospedagem que está adquirindo e as políticas do hotel para evitar surpresas. O mesmo vale para outros tipo de acomodação como hostel ou airbnb. <br>
                Se você irá ficar em casa de família ou couchsurfing, não deixe de combinar com os responsáveis pela acomodação estas questões e também sobre regras da casa, horários e boa
                convivência.
            </p>
    </div>
    <div class="icons">
            <div class="iconsIndiv">
                <img src="" alt="">
            </div>
            <h2>Seguro Viagem</h2>
            <p>
                Muitas pessoas optam por utilizar o seguro viagem oferecido pelo banco de seus cartões de crédito, porém é necessário ler bem a apólice do seguro e se este contempla as necessidades
                básicas. <br>
                Se você está indo para algum país da Europa, por exemplo, irá precisar de um seguro que cubra 30.000 euros, por isso a importância de sempre verificar as condições ofertadas pela seguradora.<br>
                Outra informação importante e pouco divulgada é que doenças pré-existentes, doenças mentais e doenças psicológicas não são contempladas pelos seguros de viagem, pois eles entendem que este tipo de serviço é responsabilidade apenas de um plano de saúde e a intenção da seguradora é somente de proteção e suporte em casos de emergenciais. 
            </p>

        </div>
    <div class="icons">
        <div class="iconsIndiv">
            <img src="" alt="">
        </div>
        <h2>Documentação</h2>
        <p>
            Cada país tem a sua própria política de documentação, para cada visto de permanência, seja estudos, trabalho, turismo ou relacionados. <br> 
            Com tantos países seria difícil listar cada um, por isso temos esse site onde você pode consultar a documentação necessária para cada destino que deseja ir: <a href="https://www.vistos.com.br/">Schultz Vistos</a> <br>
            Basta selecionar o destino e data de viagem para verificar a documentação exigida. <br> 
            O que podemos listar é, sempre fique atento à validade de seu passaporte e Rg, documentos básicos para o
            embarque. E sempre verifique as vacinas obrigatórias.
        </p>
        
    </div>
</section>


{% endblock %}