{% extends 'shared/layout.html' %} {% block conteudo %}

<div class="form-card">
    <h1>Sobre Nós</h1>
      <div class="exp1">
         
        <p class="initial">
            Somos motivados em otimizar o dia a dia de nossos usuários, com ideias simples e inovadoras. <br>
            A D Tour surgiu da necessidade de organizar uma viagem de longa duração de forma simples e objetiva, <br>
            porém que também tivesse informações relevantes para auxiliar o processo. <br>
        </p> 


</div> 
<h2>Nossa Missão</h2>
    <div class="exp2">
<p>
        Levar aos nossos usuários uma experiência de planejamento e organização de sua viagem oferecendo tranquilidade e segurança durante seu intercâmbio.

</p> </div> 
<h2>Nossa Visão</h2>
    <div class="exp3">
<p>
        Ser considerada a melhor plataforma de direcionamento ao usuário, facilitando seu processo de planejamento de intercâmbio.

</p> </div> 
<h2>Nossos Valores</h2> 
<div class="exp4">
<ul class="exp5">
    <li>Facilidade</li>
    <li>Objetividade</li>
    <li>Ética</li>
    <li>Otimismo </li>
    <li>Qualidade </li>
    <li>Segurança </li>
</ul>
</div>
</div>

<style>
    body{
        background-color: rgb(204, 204, 204);
        font-family: 'Montserrat', Arial, sans-serif;

    }
    .exp1, .exp2, .exp3, .exp4{
        margin-bottom: 100px;
        margin-top: 50px;
        text-align: center;
       

    }
    h2{
        margin-bottom: -40px;
        font-size: 18pt;
        display: flex;
        justify-content: center;
    }
    
    
    
</style>

{% endblock %}